@media only screen and (max-width: 500px) {
  #main-header {
    flex-direction: column;
  }
  nav {
    flex-flow: column;

  }

}

body {
  background-color: rgb(3, 66, 154);
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

 main > header {
  
  /* PERSISTENT HEADER */
  position: sticky;
  top: 0;

  background-color: purple;
  background-image: url(img/space-background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(18, 4, 98);

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  
  padding: 0 1em 0 1em  ;
  border-style: solid;
  border-width: 0 0 0.5em 0;
  border-color: rgb(3, 3, 44);

 }



#header-title {
  /* background-color: blue; */
  color: white;
  display: inline-block;
  box-sizing: border-box; */
  padding: 0 1em 0 1em;
  align-content: center;
}


nav {
  display: flex;
  justify-content: space-between;
  /* padding: 0 2em 0 0; */
  color: white;
}

nav > * {
  padding: 1em;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: large;
  color: white;
}

nav > a {
  text-decoration: none !important;
}

nav > a:hover {
  background-color: white;
  color: black;
}

.selected {
  background-color: rgb(235, 24, 24);
}

img {
  border-style: solid;
  border-width: 2px;
  margin: 0.5em;
}

section {
  background-color: rgb(135, 138, 222);
  margin: 1em;
  padding: 1em;
}

.main-menu {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}
.main-menu > .header-item > h3 {
  margin: auto;
  /* text-align: center; */
  display: inline-table;
  /* vertical-align: middle; */
  background-color: chartreuse;
}
.header-item {
  box-sizing: border-box;
  display: flex;
  padding: 0.5em;
  background-color: blue;
}
.header-name {
  font-weight: bold;
  font-size: large;
  margin-left: 0%;
}

/* proportional-units */
img {
  height: auto;
  max-width: 25vh;
  width: -moz-available;
  width: -webkit-fill-available;
}

.image-fadeIn {
  opacity: 0;
  /* display: none; */

  transition: 1s opacity ease-in;
	-moz-transition: 1s opacity ease-in;
	-webkit-transition: 1s opacity ease-in;

  -webkit-animation: 5s show;
    -moz-animation: 5s show;
    -ms-animation: 5s show;
    animation: 5s show;
}
/* .image-fadeIn:hover {
  opacity: 1;
} */

@-webkit-keyframes show {
  from { opacity: 0 }
  to { opacity: 1 }
}
@-moz-keyframes show {
  from { opacity: 0 }
  to { opacity: 1 }
}
@-ms-keyframes show {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes show {
  from { opacity: 0 }
  to { opacity: 1 }
}

/* box-sizing */
.about-quote {
  box-sizing: border-box;
  margin: 1em;
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;

}

.section-about {
  border-style: solid;
  border-width: 2px;
}

.section-about-2 {
  background-color: rgb(248, 248, 248, 0);
  border-style: solid;
  border-width: 1px 0 0 0;
  

}

